@model IEnumerable<Actor>
@{
    ViewData["Title"] = "List of Actors";
}
<style>
    /* Custom styles for the table */
    .table {
        width: 100%;
        text-align: center;
    }

        .table img {
            max-width: 100px;
            max-height: 100px;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .table tbody tr:hover {
            background-color: #f8f9fa;
        }
    /* Custom styles for the buttons */
    .btn {
        cursor: pointer;
    }

    .btn-details {
        color: #17a2b8;
    }

    .btn-delete {
        color: #dc3545;
    }
</style>
<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                       <td class="align-middle">
                           <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" stlye="max-width: 150px"/>
                       </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Bio)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                            <a class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                   </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>
